

<div class="col-md-6 login" >

    <form [formGroup]="miFormularioLogin" 
          >
      
      
      <h4 class="text-center mt-4">Iniciar sesión</h4>
      <hr>
      <div class="form-group row">
        <label class="col-2 col-form-label">Email:</label>
        <div class="col">
    
          <input class="form-control"
                 type="email"
                 placeholder="E-mail"
                 formControlName="email"
                 [class.is-invalid]="elCampoNoEsValido('email')">
                 <small class="text-danger" *ngIf="elCampoNoEsValido('email')">
                   Email no admitido
                 </small>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña:</label>
        <div class="col">
    
          <input class="form-control"
                 [type]="hide ? 'password' : 'text'"
                 formControlName="password"
                 placeholder="Contraseña"
                 [class.is-invalid]="elCampoNoEsValido('password')"
                 >
                 <small class="text-danger" *ngIf="elCampoNoEsValido('password')">
                  Contraseña inválida
                  <br>
                 </small>
                 
                 <span (click)="hide = !hide" class="badge badge-primary">
                   {{ hide ? 'Mostrar contraseña' : 'Ocualtar contraseña'}}
                  </span>
                 
                 
        </div>
      </div>
       
      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col">
          <button type="submit" (click)="login()" class="btn btn-outline-info btn-block">
         <i class="fa fa-sign-in"></i>   Iniciar sesión
          </button>
        </div>
      </div>
    
    </form>
</div>